<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
        
        <settings>
                <setting name="logImpl" value="STDOUT_LOGGING"/>
        </settings>

        <!--取别名-->
        <typeAliases>
                <package name="com.binggr.pojo"/>
        </typeAliases>

        <!--绑定映射-->
        <mappers>
                <mapper class="com.binggr.dao.BookMapper"></mapper>
        </mappers>
</configuration>